<IfModule mod_rewrite.c>
ErrorDocument 404 http://localhost/laily/error-brow.html
RewriteEngine on


RewriteRule ^masuk-admin$ login-admin.php [L]
RewriteRule ^proses-masuk$ login_proses.php [L]
RewriteRule ^masuk-user$ login-user.php [L]
RewriteRule ^proses-masuk-user$ login_proses_user.php [L]
RewriteRule ^masuk-warga$ login-warga.php [L]
RewriteRule ^proses-masuk-warga$ login_proses_warga.php [L]
RewriteRule ^registrasi-warga$ registrasi-warga.php [L]
RewriteRule ^dashboard-admin$ dashboard-admin.php [L]
RewriteRule ^dashboard-kades$ dashboard-kades.php [L]
RewriteRule ^dashboard-sekdes$ dashboard-sekdes.php [L]
RewriteRule ^dashboard-bendes$ dashboard-bendes.php [L]
RewriteRule ^dashboard-kaurper$ dashboard-kaurper.php [L]
RewriteRule ^dashboard-kaurpem$ dashboard-kaurpem.php [L]
RewriteRule ^dashboard-warga$ dashboard-warga.php [L]
RewriteRule ^edit-perangkat-desa$ edit-perangkat-desa.php [L]
RewriteRule ^perangkat-desa$ perangkat-desa.php [L]
RewriteRule ^proposal-kades$ proposal-kades.php [L]
RewriteRule ^proposal-sekdes$ proposal-sekdes.php [L]
RewriteRule ^proposal-bendes$ proposal-bendes.php [L]
RewriteRule ^surat-kaurper$ surat-kaurper.php [L]
RewriteRule ^daftar-pembangunan$ daftar-pembangunan.php [L]
RewriteRule ^riwayat-pembangunan-terlaksana$ riwayat-pembangunan-terlaksana.php [L]
RewriteRule ^riwayat-pembangunan-terlaksana-kades$ riwayat-pembangunan-terlaksana-kades.php [L]
RewriteRule ^rincian-biaya$ rincian-biaya.php [L]
RewriteRule ^rincian-biaya2$ rincian-biaya2.php [L]
RewriteRule ^rincian-biaya3$ rincian-biaya3.php [L]
RewriteRule ^proposal-diterima-kades$ proposal-diterima-kades.php [L]
RewriteRule ^proposal-terkirim-sekdes$ proposal-terkirim-sekdes.php [L]
RewriteRule ^surat-diterima-bendes$ surat-diterima-bendes.php [L]
RewriteRule ^daftar-pencairan-dana-bendes$ daftar-pencairan-dana-bendes.php [L]
RewriteRule ^daftar-pencairan-dana-kades$ daftar-pencairan-dana-kades.php [L]
RewriteRule ^proposal-ditolak-kades$ proposal-ditolak-kades.php [L]
RewriteRule ^proposal-ditolak-pada-sekdes$ proposal-ditolak-pada-sekdes.php [L]
RewriteRule ^proposal-ditolak-pada-kaurper$ proposal-ditolak-pada-kaurper.php [L]
RewriteRule ^surat-ditolak-sekdes$ surat-ditolak-sekdes.php [L]
RewriteRule ^surat-ditolak-bendes$ surat-ditolak-bendes.php [L]
RewriteRule ^perencanaan-kaurper$ perencanaan-kaurper.php [L]
RewriteRule ^pencairan-dana-ditolak$ pencairan-dana-ditolak.php [L]
RewriteRule ^rpjm-des$ rpjm-des.php [L]
RewriteRule ^form-import$ form-import.php [L]
RewriteRule ^form-import-rpjmdes$ form-import-rpjmdes.php [L]
RewriteRule ^pengajuan-kaurper$ pengajuan-kaurper.php [L]
RewriteRule ^proposal-diterima-oleh-sekdes$ proposal-diterima-oleh-sekdes.php [L]
RewriteRule ^proposal-diterima-oleh-kades$ proposal-diterima-oleh-kades.php [L]
RewriteRule ^pembangunan-belum-dikerjakan$ pembangunan-belum-dikerjakan.php [L]
RewriteRule ^pembangunan-dalam-proses$ pembangunan-dalam-proses.php [L]
RewriteRule ^pembangunan-selesai-pengerjaan$ pembangunan-selesai-pengerjaan.php [L]
RewriteRule ^pembangunan-belum-dikerjakan-kades$ pembangunan-belum-dikerjakan-kades.php [L]
RewriteRule ^pembangunan-dalam-proses-kades$ pembangunan-dalam-proses-kades.php [L]
RewriteRule ^pembangunan-selesai-pengerjaan-kades$ pembangunan-selesai-pengerjaan-kades.php [L]
RewriteRule ^konfirmasi-pembangunan$ konfirmasi-pembangunan.php [L]
RewriteRule ^jabatan$ jabatan.php [L]
RewriteRule ^sub-jabatan$ sub-jabatan.php [L]
RewriteRule ^edit-jabatan$ edit-jabatan.php [L]
RewriteRule ^edit-sub-jabatan$ edit-sub-jabatan.php [L]
RewriteRule ^kelola-admin$ kelola-admin.php [L]
RewriteRule ^proposal-pending-sekdes$ proposal-pending-sekdes.php [L]
RewriteRule ^proposal-pending-kades$ proposal-pending-kades.php [L]
RewriteRule ^perbaiki-proposal-sekdes$ perbaiki-proposal-sekdes.php [L]
RewriteRule ^perbaiki-proposal-kaurper$ perbaiki-proposal-kaurper.php [L]
RewriteRule ^edit-admin$ edit-admin.php [L]
RewriteRule ^edit-user-kaurper$ edit-user-kaurper.php [L]
RewriteRule ^edit-user-kaurpem$ edit-user-kaurpem.php [L]
RewriteRule ^edit-user-sekdes$ edit-user-sekdes.php [L]
RewriteRule ^edit-user-kades$ edit-user-kades.php [L]
RewriteRule ^edit-user-bendes$ edit-user-bendes.php [L]
RewriteRule ^edit-password$ edit-password.php [L]
RewriteRule ^edit-password-kaurper$ edit-password-kaurper.php [L]
RewriteRule ^edit-password-kaurpem$ edit-password-kaurpem.php [L]
RewriteRule ^edit-password-sekdes$ edit-password-sekdes.php [L]
RewriteRule ^edit-password-kades$ edit-password-kades.php [L]
RewriteRule ^edit-password-bendes$ edit-password-bendes.php [L]
RewriteRule ^keluar$ logout-admin.php [L]
RewriteRule ^keluar-user$ logout-user.php [L]

RewriteRule ^masuk$ login-siswa.php [L]
RewriteRule ^setting$ setting.php [L]
RewriteRule ^keluar$ logout.php [L]
RewriteRule ^keluar-siswa$ logout-siswa.php [L]
RewriteRule ^simpan-admin$ simpan-admin.php [L]
RewriteRule ^edit-jurusan$ edit-jurusan.php [L]
RewriteRule ^edit-setting$ edit-setting.php [L]
RewriteRule ^edit-bantuan$ edit-bantuan.php [L]
RewriteRule ^edit-tahun$ edit-tahun.php [L]
RewriteRule ^edit-kelas$ edit-kelas.php [L]
RewriteRule ^edit-asisten$ edit-asisten.php [L]
RewriteRule ^edit-asisten-kelas$ edit-asisten-kelas.php [L]
RewriteRule ^update-password$ update-password.php [L]
RewriteRule ^list-admin$ list-admin.php [L]
RewriteRule ^proses-mahasiswa$ login_siswa.php [L]
RewriteRule ^dashboard-siswa$ dashboard-siswa.php [L]
RewriteRule ^tahun-ajar$ tahun-ajar.php [L]
RewriteRule ^jurusan$ jurusan.php [L]
RewriteRule ^Kelas$ kelas.php [L]
RewriteRule ^asisten$ asisten.php [L]
RewriteRule ^asisten-kelas$ asisten-kelas.php [L]
RewriteRule ^nilai-terbaik$ asisten-nilai-terbaik.php [L]
RewriteRule ^nilai-favorit$ asisten-nilai-favorit.php [L]
RewriteRule ^simpan-nilai$ simpan-nilai.php [L]
RewriteRule ^mahasiswa$ mahasiswa.php [L]
RewriteRule ^form-mahasiswa$ form-import.php [L]
RewriteRule ^cetak-nilai-terbaik$ cetak-terbaik.php [L]
RewriteRule ^cetak-nilai-favorit$ cetak-favorit.php [L]
RewriteRule ^bantuan$ bantuan.php [L]



Options All -Indexes
</IfModule>
